<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.CourseBaseMapper">
    <select id="findAllCourseBase" resultType="com.xuecheng.framework.domain.course.ext.CourseInfo">
        select  id,name, pic  from course_base cb left join course_pic cp on cb.id = cp.courseid
    </select>



</mapper>